In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.4'

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [26]:
engine.connect()

In [6]:
df = pd.read_csv('homework/green_tripdata_2019-09.csv', nrows=100)

In [7]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.00,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.00,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.00,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.00,NaN,0.3,18.36,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2019-09-01 00:40:55,2019-09-01 00:48:35,N,1,95,160,1,2.24,9.0,0.5,0.5,0.00,0.00,NaN,0.3,10.30,2,1,0.0
96,2,2019-09-01 00:13:52,2019-09-01 00:21:47,N,1,75,151,1,2.04,8.5,0.5,0.5,1.96,0.00,NaN,0.3,11.76,1,1,0.0
97,2,2019-09-01 00:37:24,2019-09-01 01:02:31,N,1,41,182,1,7.77,26.0,0.5,0.5,5.46,0.00,NaN,0.3,32.76,1,1,0.0
98,2,2019-09-01 00:22:15,2019-09-01 00:29:52,N,1,74,260,1,4.99,15.0,0.5,0.5,2.58,6.12,NaN,0.3,25.00,1,1,0.0
99,2,2019-09-01 00:11:53,2019-09-01 00:30:31,N,1,255,228,1,7.54,22.0,0.5,0.5,0.00,0.00,NaN,0.3,23.30,2,1,0.0

In [8]:
df_iter = pd.read_csv('homework/green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [9]:
df = next(df_iter)

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [11]:
df.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists='replace')

0

In [34]:
df.to_sql(name="green_taxi_data", con=engine, if_exists='append')

1000

In [12]:
while True:
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime =pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name="green_taxi_data", con=engine, if_exists='append')



    try:
        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime =pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
    except StopIteration:
        print("Finished ingesting data into postgres")
        break

PendingRollbackError: Can't reconnect until invalid transaction is rolled back.  Please rollback() fully before proceeding (Background on this error at: https://sqlalche.me/e/20/8s2b)

In [ ]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
400000,NaN,2019-09-06 21:06:00,2019-09-06 21:23:00,NaN,NaN,42,167,NaN,3.19,23.35,2.75,0.5,0.0,0.00,NaN,0.0,26.60,NaN,NaN,NaN
400001,NaN,2019-09-06 21:48:00,2019-09-06 22:01:00,NaN,NaN,169,127,NaN,4.44,19.73,2.75,0.5,0.0,0.00,NaN,0.0,22.98,NaN,NaN,NaN
400002,NaN,2019-09-06 21:08:00,2019-09-06 21:26:00,NaN,NaN,29,228,NaN,9.38,28.95,2.75,0.5,0.0,0.00,NaN,0.0,32.20,NaN,NaN,NaN
400003,NaN,2019-09-06 21:06:00,2019-09-06 21:30:00,NaN,NaN,95,203,NaN,8.85,29.36,2.75,0.5,0.0,0.00,NaN,0.0,32.61,NaN,NaN,NaN
400004,NaN,2019-09-06 21:10:00,2019-09-06 21:44:00,NaN,NaN,74,218,NaN,17.62,48.30,2.75,0.5,0.0,6.12,NaN,0.0,57.67,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.0,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.0,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.0,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.0,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.0,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [37]:
df = pd.read_csv('homework/taxi+_zone_lookup.csv')

In [38]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [41]:
df.head(n=0).to_sql(name="taxi_zones",con=engine,if_exists='replace')

0

In [42]:
df.to_sql(name="taxi_zones",con=engine,if_exists='append')

265